<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="static/dist/icon-baikmu.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BaikMu - Self Care</title>
    <!-- SEO -->
    <meta property="og:title" content="BaikMu - Self Care" />
    <meta property="og:description" content="Sebuah aplikasi yang dapat membantu mengetahui tentang kesehatan mental seseorang, khususnya untuk kalangan generasi Z." />
    <meta property="og:image" itemprop="image" content="https://baikmu-web.vercel.app/icon-200x200.png" />
    <meta property="og:url" content="http://baikmu.com" />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:width" content="300" />
    
    
    
    <script type="module" crossorigin src="E:\PKM KES MENTAL\Login\static\dist\assets\index-6b9ca8d2.js"></script>
    <link rel="stylesheet" href="E:\PKM KES MENTAL\Login\static\dist\assets\index-595c4bd0.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
